# Server Configuration
PORT=3001
NODE_ENV=production

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rudvishinternational@gmail.com
SMTP_PASS=jedf ickj htgr bjgh

# Company Email
COMPANY_EMAIL=rudvishinternational@gmail.com

# Security
JWT_SECRET=52bd0c9e887cff55b3fbfb275d50500509faeef515b52ee50a8cd4a2bcb41e5284fded98ddd9d28d1c468b0cb0396cba12cbb7e56f3f5562507e1c305e562c37

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100